.ckeditor5-toolbar-button-cookieContentBlockerButton {
  background-image: url(../js/ckeditor5_plugins/cookieContentBlocker/icons/cookiecontentblocker.svg);
}

.ck-widget.cookie-content-blocker {
  padding: 1rem;
  padding-left: 2rem;
  border: 1px dashed #c4c4c4;
  background-color: hsla(0,0%,78%,.3);
}

.ck-widget.cookie-content-blocker:before {
  content: url('../js/ckeditor5_plugins/cookieContentBlocker/icons/cookiecontentblocker-white.png');
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  padding: 3px;
  background: #bc3d2f;
}

.ck-cookie-content-blocker-form .ck.ck-textarea {
  background: var(--ck-color-input-background);
  border: 1px solid var(--ck-color-input-border);
  padding: var(--ck-spacing-extra-tiny) var(--ck-spacing-medium);
  width: 100%;
}

.ck-cookie-content-blocker-form .ck.ck-dropdown {
  border: 1px solid var(--ck-color-input-border);
}

.ck-cookie-content-blocker-form .ck.ck-input-text,
.ck-cookie-content-blocker-form .ck.ck-dropdown .ck-button.ck-dropdown__button .ck-button__label {
  width: 100%;
}
